body {
  background: radial-gradient(
    circle at 25% 50%,
    rgb(252, 239, 183) 20%,
    rgb(194, 223, 252) 80%
  );
}
.App {
  margin: 30px;
  padding: 30px;
}
.App .footer-link:hover {
  font-weight: bold;
}
footer {
  text-align: center;
}
